.itemCartContainer{
    margin-top: 1.5 rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.img-cart{
    margin-right: 3rem;
    width: 150px;
    height: 150px;
}