.DetailContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}



.productDetailContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; */
}

.imgDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.imgDetail h6{
    font-size: 1rem;
}

.descriptionProductDetail h1{
    text-transform: uppercase;
    font-size: 2.5rem;
}

.descriptionProductDetail {
    margin-left: 5rem;
    width: 65vh;
    display: flex;
    flex-direction: column;
}

.descriptionDetail {
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
}

.descriptionTitleDetail {
    font-size: 1.5rem;
    font-weight: 200;
}

.DetailContainer span {
    text-transform: uppercase;
}