.DetailContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.productDetailContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imgDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.imgDetail h6{
    font-size: 0.7rem;
}

.descriptionProductDetail h1{
    text-transform: uppercase;
    font-size: 2.5rem;
}

.descriptionProductDetail {
    margin-left: 5rem;
    width: 65vh;
    display: flex;
    flex-direction: column;
}

.descriptionDetail {
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
}

.descriptionTitleDetail {
    font-size: 1.5rem;
    font-weight: 200;
}

.DetailContainer span {
    text-transform: uppercase;
}

/* ! go to cart */

.button__GoToCart {
    background-image: linear-gradient(45deg, #2f78ff 0%, #19d0f0 51%, #2fb6ff 100%);
  
  }
  
  .button__GoToCart {
    margin: 1px;
    padding-top: 12px;
    width: 9rem;
    height: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    display: block;
    border: 0px;
    font-weight: 100;
    box-shadow: 0px 0px 14px -7px #19c9f0;
  }
  
  .button__GoToCart:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .button__GoToCart:active {
    transform: scale(0.95);
  }