@import url("@fontsource/roboto");

*{
    font-family: 'Roboto';
}

.button__add {
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%)
   }
   
   .button__add {
    margin: 1px;
    padding-top: 12px;
    width: 11rem;
    height: 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    display: block;
    border: 0px;
    font-weight: 100;
    box-shadow: 0px 0px 14px -7px #f09819;
   }
   
   .button__add:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
   }
   
   .button__add:active {
    transform: scale(0.95);
   }