

.formCheckoutConteiner {
    display: flex;
    width: 400px;
    flex-direction: column;
    flex-wrap: wrap;
}

.formCheckoutConteiner input, button {
    margin: 1rem;
}

.container__orderId {
    margin: 2rem;
}